---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=remind%20me%20via%20sms%20to%20fetch%20the%20mail%20tonight
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <Wit Auth>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "30b5cb48-205d-4646-8f5b-0a9ba52abcfb",
          "msg_body" : "remind me via sms to fetch the mail tonight",
          "outcome" : {
            "intent" : "set_reminder",
            "entities" : {
              "reminder_text" : {
                "end" : 43,
                "start" : 21,
                "value" : "fetch the mail tonight",
                "body" : "fetch the mail tonight"
              },
              "reminder_method" : {
                "end" : 17,
                "start" : 14,
                "value" : "sms",
                "body" : "sms"
              }
            },
            "confidence" : 0.999
          }
        }
  recorded_at: Fri, 11 Oct 2013 13:54:15 GMT
recorded_with: VCR 2.5.0
