---
http_interactions:
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=Who%20is%20the%20Queen%20of%20France?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "Who is the Queen of France?",
          "@confidence": "0.0",
          "@support": "0",
          "@types": "",
          "@sparql": "",
          "@policy": "whitelist",
          "Resources":   [
                {
              "@URI": "http://dbpedia.org/resource/The_Queen_%28film%29",
              "@support": "291",
              "@types": "DBpedia:Film,DBpedia:Work,Schema:CreativeWork,Schema:Movie,Freebase:/media_common/netflix_title,Freebase:/media_common,Freebase:/award/ranked_item,Freebase:/award,Freebase:/film/film,Freebase:/film,Freebase:/award/award_nominated_work,Freebase:/award/award_winning_work",
              "@surfaceForm": "Queen",
              "@offset": "11",
              "@similarityScore": "0.3524553179740906",
              "@percentageOfSecondRank": "0.9709948168670905"
            },
                {
              "@URI": "http://dbpedia.org/resource/Fils_de_France",
              "@support": "127",
              "@types": "Freebase:/people/person,Freebase:/people",
              "@surfaceForm": "France",
              "@offset": "20",
              "@similarityScore": "0.29848313331604004",
              "@percentageOfSecondRank": "0.9085172761394615"
            }
          ]
        }
  recorded_at: Tue, 24 Sep 2013 16:42:31 GMT
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=Who%20is%20the%20Queen%20of%20France?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{},"action":"KNOWLEDGE_SEARCH","category":"KNOWLEDGE"}'
  recorded_at: Tue, 24 Sep 2013 16:42:32 GMT
- request:
    method: post
    uri: http://www.cleverbot.com/webservicemin
    body:
      encoding: UTF-8
      string: stimulus=Who%20is%20the%20Queen%20of%20France%3F&start=y&sessionid=RVE01318573&vText8=&vText7=Hello%20mr%20chatbot.&vText6=Hello.%20What%20are%20you%3F&vText5=Bla.&vText4=I%20don't%20understand%20you.&vText3=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis%3F&vText2=I%20don't%20know.%20Why%20don't%20you%20ask%20him%3F&icognoid=wsf&icognocheck=4a8db76d28408a23bbaedbe78ae771e3&fno=0&prevref=&emotionaloutput=&emotionalhistory=&asbotname=&ttsvoice=&typing=&lineref=&sub=Say&islearning=1&cleanslate=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Mime-Version:
      - '1.0'
      Rps:
      - cs5860
      Rlm:
      - '1640'
      Sc:
      - '14371'
    body:
      encoding: UTF-8
      string: "Elizabeth.\rRVE01318573\rj2log-kTkPYcGWWNMGWABSTAMG-detail\rHello.
        What are you?\rBla.\rI don't understand you.\rWhat does President Obama think
        of the Bacon Crisis?\rI don't know. Why don't you ask him?\rWho is the Queen
        of France?\rElizabeth.\rSHS049292213\r\r\r\r\r\rElizabeth.\r\r\r\r\r\r\r"
  recorded_at: Tue, 24 Sep 2013 16:42:35 GMT
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=I%20live%20in%20Madison,%20WI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "I live in Madison, WI",
          "@confidence": "0.0",
          "@support": "0",
          "@types": [...]
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=I%20live%20in%20Madison,%20WI
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{"location":["madison wi"]},"action":"CONTACT_LOCATE","category":"CONTACT"}'
  recorded_at: Tue, 24 Sep 2013 16:48:34 GMT
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=I%20live%20in%20Madison,%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "I live in Madison, Wisconsin",
          "@confidence": "0.0",
          "@support": "0",
      [...]
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=I%20live%20in%20Madison,%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{"location":["madison wisconsin"]},"action":"CONTACT_LOCATE","category":"CONTACT"}'
  recorded_at: Tue, 24 Sep 2013 16:48:58 GMT
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "I live in Madison Wisconsin",
          "@confidence": "0.0",
          "@support": "0",
        [...]
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{"location":["madison wisconsin"]},"action":"CONTACT_LOCATE","category":"CONTACT"}'
  recorded_at: Tue, 24 Sep 2013 17:02:48 GMT
recorded_with: VCR 2.5.0
