---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <Wit Auth>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "d0801d31-591a-4767-a444-2f3a6470df81",
          "msg_body" : "I live in Madison Wisconsin",
          "outcome" : {
            "intent" : "spotlight_query",
            "entities" : { },
            "confidence" : 0.466
          }
        }
  recorded_at: Wed, 25 Sep 2013 05:44:04 GMT
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "I live in Madison Wisconsin",
          "@confidence": "0.0",
          "@support": "0",
          "@types": "",
          "@sparql": "",
          "@policy": "whitelist",
          "Resources":   [
                {
              "@URI": "http://dbpedia.org/resource/Live_album",
              "@support": "3028",
              "@types": "Freebase:/music/album_release_type,Freebase:/music,Freebase:/music/genre,Freebase:/music/album,Freebase:/music/release",
              "@surfaceForm": "live",
              "@offset": "2",
              "@similarityScore": "0.20115503668785095",
              "@percentageOfSecondRank": "0.6097190621785478"
            },
                {
              "@URI": "http://dbpedia.org/resource/Madison,_Wisconsin",
              "@support": "2282",
              "@types": "DBpedia:City,DBpedia:Settlement,DBpedia:PopulatedPlace,DBpedia:Place,Schema:Place,Schema:City,Freebase:/location/hud_foreclosure_area,Freebase:/location,Freebase:/location/location,Freebase:/location/dated_location,Freebase:/sports/sports_team_location,Freebase:/sports,Freebase:/film/film_location,Freebase:/film,Freebase:/location/citytown,Freebase:/location/statistical_region,Freebase:/location/hud_county_place",
              "@surfaceForm": "Madison Wisconsin",
              "@offset": "10",
              "@similarityScore": "0.2932870388031006",
              "@percentageOfSecondRank": "-1.0"
            }
          ]
        }
  recorded_at: Wed, 25 Sep 2013 05:44:05 GMT
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{"location":["madison wisconsin"]},"action":"CONTACT_LOCATE","category":"CONTACT"}'
  recorded_at: Wed, 25 Sep 2013 05:44:06 GMT
- request:
    method: post
    uri: http://www.cleverbot.com/webservicemin
    body:
      encoding: UTF-8
      string: stimulus=I%20live%20in%20Madison%20Wisconsin&start=y&sessionid=VWT00488177&vText8=Hello%2C%20my%20Earthling%20friend.&vText7=Bla.&vText6=Bla%20bla.&vText5=What%20are%20Tardigrades%3F&vText4=My%20grades%3F&vText3=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis%3F&vText2=He%20thinks%20that%20you're%20the%20bee's%20knees.&icognoid=wsf&icognocheck=5f625528aa6d4e56e9a6dfc978d1865f&fno=0&prevref=UG004883427&emotionaloutput=&emotionalhistory=&asbotname=&ttsvoice=&typing=&lineref=&sub=Say&islearning=1&cleanslate=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Mime-Version:
      - '1.0'
      Rps:
      - cs5860
      Rlm:
      - '1054'
      Sc:
      - '15737'
    body:
      encoding: UTF-8
      string: "And your name is Sam?\rVWT00488177\rj2log-bGyCSlIEYUAAQAZOBKDE-detail\rBla
        bla.\rWhat are Tardigrades?\rMy grades?\rWhat does President Obama think of
        the Bacon Crisis?\rHe thinks that you're the bee's knees.\rI live in Madison
        Wisconsin.\rAnd your name is Sam?\rUSS011400053\r\r\r\r\r\rAnd your name is
        Sam?\r\r\r\r\r\r\r"
  recorded_at: Wed, 25 Sep 2013 05:44:08 GMT
recorded_with: VCR 2.5.0
