---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer UXV7ERXFIM2UANS5UOV23K5TLT7IAWXP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "b471c264-f9ce-4584-8f12-6f38279a1a8d",
          "msg_body" : "I live in Madison Wisconsin",
          "outcome" : {
            "intent" : "statement",
            "entities" : { },
            "confidence" : 0.798
          }
        }
  recorded_at: Wed, 25 Sep 2013 04:59:23 GMT
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "I live in Madison Wisconsin",
          "@confidence": "0.0",
          "@support": "0",
          "@types": "",
          "@sparql": "",
          "@policy": "whitelist",
          "Resources":   [
                {
              "@URI": "http://dbpedia.org/resource/Live_album",
              "@support": "3028",
              "@types": "Freebase:/music/album_release_type,Freebase:/music,Freebase:/music/genre,Freebase:/music/album,Freebase:/music/release",
              "@surfaceForm": "live",
              "@offset": "2",
              "@similarityScore": "0.20115503668785095",
              "@percentageOfSecondRank": "0.6097190621785478"
            },
                {
              "@URI": "http://dbpedia.org/resource/Madison,_Wisconsin",
              "@support": "2282",
              "@types": "DBpedia:City,DBpedia:Settlement,DBpedia:PopulatedPlace,DBpedia:Place,Schema:Place,Schema:City,Freebase:/location/hud_foreclosure_area,Freebase:/location,Freebase:/location/location,Freebase:/location/dated_location,Freebase:/sports/sports_team_location,Freebase:/sports,Freebase:/film/film_location,Freebase:/film,Freebase:/location/citytown,Freebase:/location/statistical_region,Freebase:/location/hud_county_place",
              "@surfaceForm": "Madison Wisconsin",
              "@offset": "10",
              "@similarityScore": "0.2932870388031006",
              "@percentageOfSecondRank": "-1.0"
            }
          ]
        }
  recorded_at: Wed, 25 Sep 2013 04:59:24 GMT
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{"location":["madison wisconsin"]},"action":"CONTACT_LOCATE","category":"CONTACT"}'
  recorded_at: Wed, 25 Sep 2013 04:59:25 GMT
- request:
    method: post
    uri: http://www.cleverbot.com/webservicemin
    body:
      encoding: UTF-8
      string: stimulus=I%20live%20in%20Madison%20Wisconsin&start=y&sessionid=RVE01318573&vText8=&vText7=Hello%20mr%20chatbot.&vText6=Hello.%20What%20are%20you%3F&vText5=Bla.&vText4=I%20don't%20understand%20you.&vText3=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis%3F&vText2=What%20do%20you%20think%20about%20clifton%20newman%3F&icognoid=wsf&icognocheck=5f625528aa6d4e56e9a6dfc978d1865f&fno=0&prevref=&emotionaloutput=&emotionalhistory=&asbotname=&ttsvoice=&typing=&lineref=&sub=Say&islearning=1&cleanslate=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Mime-Version:
      - '1.0'
      Rps:
      - cs5860
      Rlm:
      - '1095'
      Sc:
      - '16385'
    body:
      encoding: UTF-8
      string: "What is significant about wisconsin pertaining to chess?\rRVE01318573\rj2log-tCeJCgYMODVAAATSJKVE-detail\rHello.
        What are you?\rBla.\rI don't understand you.\rWhat does President Obama think
        of the Bacon Crisis?\rWhat do you think about clifton newman?\rI live in Madison
        Wisconsin.\rWhat is significant about wisconsin pertaining to chess?\rRVF106401021\r\r\r\r\r\rWhat
        is significant about wisconsin pertaining to chess?\r\r\r\r\r\r\r"
  recorded_at: Wed, 25 Sep 2013 04:59:28 GMT
recorded_with: VCR 2.5.0
