---
http_interactions:
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "I live in Madison Wisconsin",
          "@confidence": "0.0",
          "@support": "0",
          "@types": "",
          "@sparql": "",
          "@policy": "whitelist",
          "Resources":   [
                {
              "@URI": "http://dbpedia.org/resource/Live_album",
              "@support": "3028",
              "@types": "Freebase:/music/album_release_type,Freebase:/music,Freebase:/music/genre,Freebase:/music/album,Freebase:/music/release",
              "@surfaceForm": "live",
              "@offset": "2",
              "@similarityScore": "0.20115503668785095",
              "@percentageOfSecondRank": "0.6097190621785478"
            },
                {
              "@URI": "http://dbpedia.org/resource/Madison,_Wisconsin",
              "@support": "2282",
              "@types": "DBpedia:City,DBpedia:Settlement,DBpedia:PopulatedPlace,DBpedia:Place,Schema:Place,Schema:City,Freebase:/location/hud_foreclosure_area,Freebase:/location,Freebase:/location/location,Freebase:/location/dated_location,Freebase:/sports/sports_team_location,Freebase:/sports,Freebase:/film/film_location,Freebase:/film,Freebase:/location/citytown,Freebase:/location/statistical_region,Freebase:/location/hud_county_place",
              "@surfaceForm": "Madison Wisconsin",
              "@offset": "10",
              "@similarityScore": "0.2932870388031006",
              "@percentageOfSecondRank": "-1.0"
            }
          ]
        }
  recorded_at: Tue, 24 Sep 2013 17:02:50 GMT
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{"location":["madison wisconsin"]},"action":"CONTACT_LOCATE","category":"CONTACT"}'
  recorded_at: Tue, 24 Sep 2013 17:02:51 GMT
- request:
    method: post
    uri: http://www.cleverbot.com/webservicemin
    body:
      encoding: UTF-8
      string: stimulus=I%20live%20in%20Madison%20Wisconsin&start=y&sessionid=RVE01318573&vText8=Hello.%20What%20are%20you%3F&vText7=Bla.&vText6=I%20don't%20understand%20you.&vText5=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis%3F&vText4=I%20don't%20know.%20Why%20don't%20you%20ask%20him%3F&vText3=Who%20is%20the%20Queen%20of%20France%3F&vText2=Elizabeth.&icognoid=wsf&icognocheck=5f625528aa6d4e56e9a6dfc978d1865f&fno=0&prevref=SHS049292213&emotionaloutput=&emotionalhistory=&asbotname=&ttsvoice=&typing=&lineref=&sub=Say&islearning=1&cleanslate=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Mime-Version:
      - '1.0'
      Rps:
      - cs5860
      Rlm:
      - '1686'
      Sc:
      - '15763'
    body:
      encoding: UTF-8
      string: "Is it cold there?\rRVE01318573\rj2log-yHdIYcSCITAZWANIZSAE-detail\rI
        don't understand you.\rWhat does President Obama think of the Bacon Crisis?\rI
        don't know. Why don't you ask him?\rWho is the Queen of France?\rElizabeth.\rI
        live in Madison Wisconsin.\rIs it cold there?\rUSC009719445\r\r\r\r\r\rIs
        it cold there?\r\r\r\r\r\r\r"
  recorded_at: Tue, 24 Sep 2013 17:02:59 GMT
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=spotlight%20entities%20for%20%22I%20live%20in%20Madison%20Wisconsin%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "spotlight entities for \"I live in Madison Wisconsin\"",
     [...]
