---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <Wit Auth>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "f25afb72-01a6-451c-b912-b86c67153d77",
          "msg_body" : "What does President Obama think of the Bacon Crisis?",
          "outcome" : {
            "intent" : "general_knowledge_question",
            "entities" : {
              "subject" : {
                "end" : 25,
                "start" : 10,
                "value" : "President Obama",
                "body" : "president obama"
              }
            },
            "confidence" : 0.932
          }
        }
  recorded_at: Wed, 25 Sep 2013 05:43:59 GMT
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "What does President Obama think of the Bacon Crisis?",
          "@confidence": "0.0",
          "@support": "0",
          "@types": "",
          "@sparql": "",
          "@policy": "whitelist",
          "Resources":   [
                {
              "@URI": "http://dbpedia.org/resource/Presidency_of_Barack_Obama",
              "@support": "134",
              "@types": "DBpedia:OfficeHolder,DBpedia:Person,Schema:Person,Freebase:/book/book_subject,Freebase:/book,Freebase:/book/periodical_subject,Freebase:/media_common/quotation_subject,Freebase:/media_common,DBpedia:TopicalConcept",
              "@surfaceForm": "President Obama",
              "@offset": "10",
              "@similarityScore": "0.202646[...]
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{},"action":"KNOWLEDGE_SEARCH","category":"KNOWLEDGE"}'
  recorded_at: Wed, 25 Sep 2013 05:44:01 GMT
- request:
    method: post
    uri: http://www.cleverbot.com/webservicemin
    body:
      encoding: UTF-8
      string: stimulus=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis%3F&start=y&sessionid=VWT00488177&vText8=&vText7=Hello%20mr%20chatbot.&vText6=Hello%2C%20my%20Earthling%20friend.&vText5=Bla.&vText4=Bla%20bla.&vText3=What%20are%20Tardigrades%3F&vText2=My%20grades%3F&icognoid=wsf&icognocheck=dbce45c1fabec80899bac4fb068c9fb3&fno=0&prevref=SHD073108484&emotionaloutput=&emotionalhistory=&asbotname=&ttsvoice=&typing=&lineref=&sub=Say&islearning=1&cleanslate=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Mime-Version:
      - '1.0'
      Rps:
      - cs5860
      Rlm:
      - '1043'
      Sc:
      - '15737'
    body:
      encoding: UTF-8
      string: "He thinks that you're the bee's knees.\rVWT00488177\rj2log-tYfJWpQOGESHUAHELCVG-detail\rHello,
        my Earthling friend.\rBla.\rBla bla.\rWhat are Tardigrades?\rMy grades?\rWhat
        does President Obama think of the Bacon Crisis?\rHe thinks that you're the
        bee's knees.\rUG004883427\r\r\r\r\r\rHe thinks that you're the bee's knees.\r\r\r\r\r\r\r"
  recorded_at: Wed, 25 Sep 2013 05:44:03 GMT
recorded_with: VCR 2.5.0
