---
http_interactions:
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "What does President Obama think of the Bacon Crisis?",
          "@confidence": "0.0",
          "@support": "0",
          "@types": "",
          "@sparql": "",
          "@policy": "whitelist",
          "Resources":   [
                {
              "@URI": "http://dbpedia.org/resource/Presidency_of_Barack_Obama",
              "@support": "134",
              "@types": "DBpedia:OfficeHolder,DBpedia:Person,Schema:Person,Freebase:/book/book_subject,Freebase:/book,Freebase:/book/periodical_subject,Freebase:/media_common/quotation_subject,Freebase:/media_common,DBpedia:TopicalConcept",
              "@surfaceForm": "President Obama",
              "@offset": "10",
              "@similarityScore": "0.202646[...]
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{},"action":"KNOWLEDGE_SEARCH","category":"KNOWLEDGE"}'
  recorded_at: Tue, 24 Sep 2013 17:31:53 GMT
- request:
    method: post
    uri: http://www.cleverbot.com/webservicemin
    body:
      encoding: UTF-8
      string: stimulus=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis%3F&start=y&sessionid=RVE01318573&vText8=&vText7=&vText6=&vText5=Hello%20mr%20chatbot.&vText4=Hello.%20What%20are%20you%3F&vText3=Bla.&vText2=I%20don't%20understand%20you.&icognoid=wsf&icognocheck=dbce45c1fabec80899bac4fb068c9fb3&fno=0&prevref=RSL024438174&emotionaloutput=&emotionalhistory=&asbotname=&ttsvoice=&typing=&lineref=&sub=Say&islearning=1&cleanslate=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Mime-Version:
      - '1.0'
      Rps:
      - cs5860
      Rlm:
      - '1653'
      Sc:
      - '15275'
    body:
      encoding: UTF-8
      string: "Answering a question with another question? That's smart.\rRVE01318573\rj2log-fOzEJnUCKTHVHAPOZSHE-detail\r\rHello
        mr chatbot.\rHello. What are you?\rBla.\rI don't understand you.\rWhat does
        President Obama think of the Bacon Crisis?\rAnswering a question with another
        question? That's smart.\rRTI054742220\r\r\r\r\r\rAnswering a question with
        another question? That's smart.\r!01\r\r\r\r\r\r"
  recorded_at: Tue, 24 Sep 2013 17:31:57 GMT
recorded_with: VCR 2.5.0
