---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=heyo%20hows%20it%20going
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer UXV7ERXFIM2UANS5UOV23K5TLT7IAWXP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "1090f9a0-7604-4e99-8eaf-474739042231",
          "msg_body" : "heyo hows it going",
          "outcome" : {
            "intent" : "hello",
            "entities" : { },
            "confidence" : 0.361
          }
        }
  recorded_at: Wed, 25 Sep 2013 04:29:38 GMT
recorded_with: VCR 2.5.0
