---
http_interactions:
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=spotlight%20entities%20for%20%22I%20live%20in%20Madison%20Wisconsin%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "spotlight entities for \"I live in Madison Wisconsin\"",
          "@confidence": "0.0",
          "@support": "0",
          "@types": "",
          "@sparql": "",
          "@policy": "whitelist",
          "Resources":   [
                {
              "@URI": "http://dbpedia.org/resource/Flashlight",
              "@support": "236",
              "@types": "Freebase:/sports/sports_equipment,Freebase:/sports,Freebase:/law/invention,Freebase:/law,DBpedia:TopicalConcept",
              "@surfaceForm": "spotlight",
              "@offset": "0",
              "@similarityScore": "0.0870683342218399",
              "@percentageOfSecondRank": "0.7894217872596485"
            },
                {
              "@U[...]
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=spotlight%20entities%20for%20%22I%20live%20in%20Madison%20Wisconsin%22
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{"location":["madison wisconsin"]},"action":"CONTACT_LOCATE","category":"CONTACT"}'
  recorded_at: Tue, 24 Sep 2013 17:32:04 GMT
- request:
    method: post
    uri: http://www.cleverbot.com/webservicemin
    body:
      encoding: UTF-8
      string: stimulus=spotlight%20entities%20for%20%22I%20live%20in%20Madison%20Wisconsin%22&start=y&sessionid=RVE01318573&vText8=Hello.%20What%20are%20you%3F&vText7=Bla.&vText6=I%20don't%20understand%20you.&vText5=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis%3F&vText4=Answering%20a%20question%20with%20another%20question%3F%20That's%20smart.&vText3=I%20live%20in%20Madison%20Wisconsin.&vText2=Who%20is%20the%20apple%3F&icognoid=wsf&icognocheck=a8c7312cb0c80d8d9fe37db766ec1109&fno=0&prevref=&emotionaloutput=&emotionalhistory=&asbotname=&ttsvoice=&typing=&lineref=&sub=Say&islearning=1&cleanslate=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Mime-Version:
      - '1.0'
      Rps:
      - cs5860
      Rlm:
      - '1623'
      Sc:
      - '15275'
    body:
      encoding: UTF-8
      string: "So where you were born?\rRVE01318573\rj2log-kTkPEiUAKRMGCAPOXOME-detail\rI
        don't understand you.\rWhat does President Obama think of the Bacon Crisis?\rAnswering
        a question with another question? That's smart.\rI live in Madison Wisconsin.\rWho
        is the apple?\rSpotlight entities for 'I live in Madison Wisconsin'.\rSo where
        you were born?\rRZS051731767\r\r\r\r\r\rSo where you were born?\r\r\r\r\r\r\r"
  recorded_at: Tue, 24 Sep 2013 17:32:11 GMT
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "I live in Madison Wisconsin",
          "@confidence": "0.0",
          "@support": "0",
        [...]
