---
http_interactions:
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=spotlight%20URIs%20for%20%22I%20live%20in%20Madison%20Wisconsin%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "spotlight URIs for \"I live in Madison Wisconsin\"",
          "@confidence": "0.0",
          "@support": "0",
          "@types": "",
          "@sparql": "",
          "@policy": "whitelist",
          "Resources":   [
                {
              "@URI": "http://dbpedia.org/resource/Flashlight",
              "@support": "236",
              "@types": "Freebase:/sports/sports_equipment,Freebase:/sports,Freebase:/law/invention,Freebase:/law,DBpedia:TopicalConcept",
              "@surfaceForm": "spotlight",
              "@offset": "0",
              "@similarityScore": "0.0870683342218399",
              "@percentageOfSecondRank": "0.7894217872596485"
            },
                {
              "@U[...]
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=spotlight%20URIs%20for%20%22I%20live%20in%20Madison%20Wisconsin%22
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{"contacts":[{"name":"uris"}]},"action":"CONTACT_SEARCH","category":"CONTACT"}'
  recorded_at: Tue, 24 Sep 2013 17:32:14 GMT
- request:
    method: post
    uri: http://www.cleverbot.com/webservicemin
    body:
      encoding: UTF-8
      string: stimulus=spotlight%20URIs%20for%20%22I%20live%20in%20Madison%20Wisconsin%22&start=y&sessionid=RVE01318573&vText8=I%20don't%20understand%20you.&vText7=What%20does%20President%20Obama%20think%20of%20the%20Bacon%20Crisis%3F&vText6=Answering%20a%20question%20with%20another%20question%3F%20That's%20smart.&vText5=I%20live%20in%20Madison%20Wisconsin.&vText4=Who%20is%20the%20apple%3F&vText3=Spotlight%20entities%20for%20'I%20live%20in%20Madison%20Wisconsin'.&vText2=So%20where%20you%20were%20born%3F&icognoid=wsf&icognocheck=3dfba0c79531362c61082f382e5f00c2&fno=0&prevref=RZS051731767&emotionaloutput=&emotionalhistory=&asbotname=&ttsvoice=&typing=&lineref=&sub=Say&islearning=1&cleanslate=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Mime-Version:
      - '1.0'
      Rps:
      - cs5860
      Rlm:
      - '1602'
      Sc:
      - '15275'
    body:
      encoding: UTF-8
      string: "Then I spent so many nights just thinking how you did me wrong.\rRVE01318573\rj2log-uDbGRvWQMHWXPARCNGWG-detail\rAnswering
        a question with another question? That's smart.\rI live in Madison Wisconsin.\rWho
        is the apple?\rSpotlight entities for 'I live in Madison Wisconsin'.\rSo where
        you were born?\rSpotlight URIs for 'I live in Madison Wisconsin'.\rThen I
        spent so many nights just thinking how you did me wrong.\rROD067120945\r\r\r\r\r\rThen
        I spent so many nights just thinking how you did me wrong.\r\r\r\r\r\r\r"
  recorded_at: Tue, 24 Sep 2013 17:32:16 GMT
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "I live in Madison Wisconsin",
          "@confidence": "0.0",
          "@support": "0",
        [...]
