---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=spotlight%20entities%20for%20%22I%20live%20in%20Madison%20Wisconsin%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <Wit Auth>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "2e46ee24-f34a-4174-91d0-041a971795e1",
          "msg_body" : "spotlight entities for \"I live in Madison Wisconsin\"",
          "outcome" : {
            "intent" : "spotlight_query",
            "entities" : { },
            "confidence" : 0.934
          }
        }
  recorded_at: Wed, 25 Sep 2013 05:44:08 GMT
- request:
    method: get
    uri: http://spotlight.dbpedia.org/rest/annotate?confidence=0&support=0&text=I%20live%20in%20Madison%20Wisconsin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "@text": "I live in Madison Wisconsin",
          "@confidence": "0.0",
          "@support": "0",
          "@types": "",
          "@sparql": "",
          "@policy": "whitelist",
          "Resources":   [
                {
              "@URI": "http://dbpedia.org/resource/Live_album",
              "@support": "3028",
              "@types": "Freebase:/music/album_release_type,Freebase:/music,Freebase:/music/genre,Freebase:/music/album,Freebase:/music/release",
              "@surfaceForm": "live",
              "@offset": "2",
              "@similarityScore": "0.20115503668785095",
              "@percentageOfSecondRank": "0.6097190621785478"
            },
                {
              "@URI": "http://dbpedia.org/resource/Madison,_Wisconsin",
              "@support": "2282",
              "@types": "DBpedia:City,DBpedia:Settlement,DBpedia:PopulatedPlace,DBpedia:Place,Schema:Place,Schema:City,Freebase:/location/hud_foreclosure_area,Freebase:/location,Freebase:/location/location,Freebase:/location/dated_location,Freebase:/sports/sports_team_location,Freebase:/sports,Freebase:/film/film_location,Freebase:/film,Freebase:/location/citytown,Freebase:/location/statistical_region,Freebase:/location/hud_county_place",
              "@surfaceForm": "Madison Wisconsin",
              "@offset": "10",
              "@similarityScore": "0.2932870388031006",
              "@percentageOfSecondRank": "-1.0"
            }
          ]
        }
  recorded_at: Wed, 25 Sep 2013 05:44:10 GMT
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=spotlight%20entities%20for%20%22I%20live%20in%20Madison%20Wisconsin%22
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{"location":["madison wisconsin"]},"action":"CONTACT_LOCATE","category":"CONTACT"}'
  recorded_at: Thu, 26 Sep 2013 21:10:26 GMT
recorded_with: VCR 2.5.0
