---
http_interactions:
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey&phrase=hello?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{},"action":"KNOWLEDGE_SEARCH","category":"KNOWLEDGE"}'
  recorded_at: Sun, 29 Sep 2013 19:49:11 GMT
- request:
    method: post
    uri: http://www.cleverbot.com/webservicemin
    body:
      encoding: UTF-8
      string: stimulus=hello%3F&start=y&sessionid=RZF00888571&vText8=&vText7=&vText6=&vText5=&vText4=&vText3=Hello%3F&vText2=What%20have%20you%20done%20today%3F&icognoid=wsf&icognocheck=c9234e849d667e910d8e5f4915589ad9&fno=0&prevref=QQ008733743&emotionaloutput=&emotionalhistory=&asbotname=&ttsvoice=&typing=&lineref=&sub=Say&islearning=1&cleanslate=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Mime-Version:
      - '1.0'
      Rps:
      - cs5860
      Rlm:
      - '1829'
      Sc:
      - '15305'
    body:
      encoding: UTF-8
      string: "Yes.\rRZF00888571\rj2log-tCmNInAWQMALGAVOTQTE-detail\r\r\r\rHello?\rWhat
        have you done today?\rHello?\rYes.\rVH015441527\r\r\r\r\r\rYes.\r\r\r\r\r\r\r"
  recorded_at: Sun, 29 Sep 2013 19:49:15 GMT
- request:
    method: get
    uri: https://api.wit.ai/message?q=hello?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <Wit Auth>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "3e0a6f5f-aa18-4db7-8955-b7fa7ef277ed",
          "msg_body" : "hello?",
          "outcome" : {
            "intent" : "hello",
            "entities" : { },
            "confidence" : 0.993
          }
        }
  recorded_at: Wed, 09 Oct 2013 19:12:09 GMT
recorded_with: VCR 2.5.0
