---
http_interactions:
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey=<Maluuba Auth>&phrase=hello?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{},"action":"KNOWLEDGE_SEARCH","category":"KNOWLEDGE"}'
  recorded_at: Sun, 29 Sep 2013 19:38:39 GMT
- request:
    method: post
    uri: http://www.cleverbot.com/webservicemin
    body:
      encoding: UTF-8
      string: stimulus=hello%3F&start=y&sessionid=RVS01455139&vText8=&vText7=&vText6=&vText5=Hello%3F&vText4=How%20art%20thou%3F&vText3=Hello%3F&vText2=Who%20are%20you%3F&icognoid=wsf&icognocheck=c9234e849d667e910d8e5f4915589ad9&fno=0&prevref=RUZ027822613&emotionaloutput=&emotionalhistory=&asbotname=&ttsvoice=&typing=&lineref=&sub=Say&islearning=1&cleanslate=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Mime-Version:
      - '1.0'
      Rps:
      - cs5860
      Rlm:
      - '1814'
      Sc:
      - '14590'
    body:
      encoding: UTF-8
      string: "Hello.\rRVS01455139\rj2log-vEjOEwAQQHYJZARIJSDE-detail\r\rHello?\rHow
        art thou?\rHello?\rWho are you?\rHello?\rHello.\rQV012855116\r\r\r\r\r\rHello.\r\r\r\r\r\r\r"
  recorded_at: Sun, 29 Sep 2013 19:38:41 GMT
recorded_with: VCR 2.5.0
