---
http_interactions:
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey=<Maluuba Auth>&phrase=hello?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entities":{},"action":"KNOWLEDGE_SEARCH","category":"KNOWLEDGE"}'
  recorded_at: Sun, 29 Sep 2013 18:29:27 GMT
- request:
    method: post
    uri: http://www.cleverbot.com/webservicemin
    body:
      encoding: UTF-8
      string: stimulus=hello%3F&start=y&sessionid=RVO01290444&vText8=&vText7=&vText6=&vText5=&vText4=&vText3=Hello%3F&vText2=Hello%20my%20name%20is%20Cleverbot.&icognoid=wsf&icognocheck=c9234e849d667e910d8e5f4915589ad9&fno=0&prevref=VL004341594&emotionaloutput=&emotionalhistory=&asbotname=&ttsvoice=&typing=&lineref=&sub=Say&islearning=1&cleanslate=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Mime-Version:
      - '1.0'
      Rps:
      - cs5860
      Rlm:
      - '1726'
      Sc:
      - '13121'
    body:
      encoding: UTF-8
      string: "What do you mean hello?\rRVO01290444\rj2log-yHlQWkVYLPZPMAPCSIBG-detail\r\r\r\rHello?\rHello
        my name is Cleverbot.\rHello?\rWhat do you mean hello?\rRSG035815144\r\r\r\r\r\rWhat
        do you mean hello?\r\r\r\r\r\r\r"
  recorded_at: Sun, 29 Sep 2013 18:29:31 GMT
- request:
    method: get
    uri: http://napi.maluuba.com/v0/interpret?apikey=1234&phrase=hello?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: 'OAuth Failure : Consumer Key is Invalid'
  recorded_at: Sun, 29 Sep 2013 18:40:22 GMT
recorded_with: VCR 2.5.0
