---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=remind%20me%20via%20sms%20to%20fetch%20the%20mail%20tonight
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <Wit Auth>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "7f8fafb5-8625-45cb-97ef-3f2d5c4c3221",
          "msg_body" : "remind me via sms to fetch the mail tonight",
          "outcome" : {
            "intent" : "set_reminder",
            "entities" : {
              "reminder_method" : {
                "end" : 17,
                "start" : 14,
                "value" : "sms",
                "body" : "sms"
              }
            },
            "confidence" : 0.993
          }
        }
  recorded_at: Tue, 08 Oct 2013 19:49:28 GMT
recorded_with: VCR 2.6.0
